.goals {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  /* height: 100%; */
}

.goals-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  flex-grow: 1;
}

.goal-item {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  padding: var(--pad-md);
  border-radius: 8px;
  border: var(--border-card);
  /* background-color: #f0f0f0; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.goal-item span {
  align-self: flex-end;
}

.progress-bar {
  display: flex;
  align-items: start;
  padding: var(--pad-md) 0;
}

.progress {
  width: 100%;
  height: 12px;
  border-radius: 10px;
  background-color: var(--pw1);
}
.progress::-webkit-progress-bar {
  background-color: var(--pw1);
  border-radius: 10px;
}
.progress::-webkit-progress-value {
  background-color: var(--pw4);
  border-radius: 10px;
}
