:root {
  --gap-sm: 0.25rem;
  --gap-md: 1rem;
  --gap-lg: 1.5rem;
  --gap-xl: 2rem;

  --pad-xs: 0.5rem;
  --pad-sm: 1rem;
  --pad-md: 1.125rem;
  --pad-lg: 1.5rem;
  --pad-xl: 2rem;
  --pad-btnNav: 0.5rem 1rem;

  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;

  --bx-shadow-card: 0 2px 8px rgba(0, 0, 0, 0.06);
  --bx-shadow-item: 0 2px 4px rgba(0, 0, 0, 0.05);

  --border-card: 1px solid var(--border-color);
  --border-card: 1px solid var(--border-color-input);
}
