.card-res {
  display: flex;
  gap: 2rem;
  /* justify-content: space-between; */
  padding: 1.125rem;
  background-color: aliceblue;
}

.res-item {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  gap: 1rem;
}
