.modal-close {
  display: flex;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.modal-close:hover {
  background: rgba(0, 0, 0, 0.2);
}

.active {
  display: none;
}
